@import '../styles/globals.css';

@layer base {
  :root {
    @apply font-sans;
    --bg-color-0: #ffc000;
    --bg-color-1: #80340d;
    --bg-color-2: #501549;
    --bg-color-3: #002060;
    --bg-color-4: #275317;
  }

  body {
    @apply grid justify-center items-start min-w-[320px] min-h-screen relative m-0 bg-background text-foreground;
    background-color: rgba(152, 221, 255, 0.47);
    /* Reserve space for scrollbar to avoid width shifts when content height changes */
    overflow-y: scroll;
    scrollbar-gutter: stable both-edges;
  }
}

@layer utilities {
  /* Clamp text to two lines and fix the block height to two lines */
  .twoline-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  /* Ensure a consistent height even if content is one line */
  .twoline-height {
    line-height: 1.5;
    min-height: calc(1em * 1.5 * 3);
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 0.3s ease-in forwards;
  }

  .fade-in-delay {
    opacity: 0;
    animation: fadeIn 0.8s ease-in forwards;
    animation-delay: 1s; /* wait 1s before fading in */
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
